<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kasal.podoapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PodoApp"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.NewAppointmentActivity" />
        <activity android:name=".ui.NewVisitActivity" />
        <activity android:name=".ui.AddPatientActivity" />
        <activity android:name=".ui.PatientListActivity" /> <!-- ✅ Πρόσθεσε αυτή -->
        <activity android:name=".ui.PatientDetailActivity" />
        <activity android:name=".ui.AppointmentCalendarActivity" />
        <activity android:name=".ui.VisitCalendarActivity" />
        <activity android:name=".ui.PatientDetailActivity"/>
        <activity android:name=".ui.AppointmentActivity"/>
        <activity android:name=".ui.VisitListActivity"/>
        <activity android:name=".ui.PatientHistoryTabsActivity" />
        <activity android:name=".VisitDetailActivity" />






    </application>
</manifest>
